# compiled output
.vscode
/node_modules
/dist

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc
commitlint.config.js

# test
jest.config.js
/test

# docker
Dockerfile
docker-compose.*
/docker-data

# local env
/.env*

# k8 secrets
/k8s/secret*

/local-vol
/docs
